{% extends "base.html" %}

{% block main_content %}
    <div class="col-xs-8">
        <h2>Book Interview</h2>
        <h3>with {{slot.klass.teacher}} in Rm. {{slot.klass.room}}</h3>
        <h3>{% if slot.am_pm == 'am' %}
                Friday
            {% else %}
                Thursday
            {% endif %}
            from {{slot.start}} to {{slot.end}}
        </h3>
        <form action="{% url 'book-slot' klass.pk slot.pk %}" method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <div class="form_input"> 
                <input type="submit" value="Book Interview">
                <input type="button" value="Cancel" onclick="location.href='{% url 'klass-schedule-view' klass.pk %}'">
            </div>
        </form>
    </div>
{% endblock %}
