{% extends "base.html" %}

{% block main_content %}
    <h2>Make Available</h2>
    <form action="{% url 'clear-slot' klass.pk slot.pk %}" method="POST">
        {%csrf_token%}
        <h4>
        Are you sure you want to make the conference with
        {{slot.klass.teacher}} in Rm. {{slot.klass.room}} on
        {% if slot.am_pm == 'am' %}
            Friday
        {% else %}
            Thursday
        {% endif %}
        from {{slot.start}} to {{slot.end}}
        available
        </h4>
    
        {% for field in form %}
            <div class="form-group">
                <label>Check the Box to make Availabe</label>
                {{field}}
            </div>
        {% endfor %}
           
        <div class="form_input"> 
            <input type="submit" value="Update Conference">
            <input type="button" value="Cancel" onclick="location.href='{% url 'klass-schedule-view' klass.pk %}'">
        </div>
    </form>
{% endblock %}
