{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>QV Interview Schedule</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <ul class="nav nav-pills nav-stacked">
                    <li><h3>Classes</h3></li>
                    {% for klass in list_of_classes %}
                        <li role="navigation"><a href="{% url 'klass-schedule-view' klass.pk %}">{{klass.teacher}} - Gr. {{klass.grade}} - Rm. {{klass.room}}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'homepage-view' %}">Home</a></li>
                </ul>
            </div>
            <div class="col-xs-8">
                <h2>Cancel Interview</h2>
                <form action="{% url 'edit-slot' klass.pk slot.pk student.pk %}" method="POST">
                    {%csrf_token%}
                    <h4>
                    Are you sure you want to cancel your interview with 
                    {{slot.klass.teacher}} in Rm. {{slot.klass.room}} on
                    {% if slot.am_pm == 'am' %}
                        Friday
                    {% else %}
                        Thursday
                    {% endif %}
                    from {{slot.start}} to {{slot.end}}
                    </h4>
                    <p>Just to make sure you are canceling your spot. Please type in your First Name, Last Name and Phone Number 
                    to cancel the spot.</p>
                    
                    {% for err in form.non_field_errors %}
    			        <div class="alert alert-danger">{{err}}</div>
    			    {% endfor %}
    			    
    			    {% for field in form %}
                        <div class="form-group">
                            <label>{{field.label}}</label>
                            {{field}}
                        </div>
                    {% endfor %}
                           
    			    <div class="form_input"> 
    				    <input type="submit" value="Cancel Interview">
    				    <input type="button" value="Cancel" onclick="location.href='{% url 'klass-schedule-view' klass.pk %}'">
    			    </div>
		        </form>
            </div>
        </div>
    </div> <!-- container-fluid -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

  </body>
</html>