{% extends "base.html" %}

{% block main_content %}
    <h1>{{klass.teacher}} - Gr. {{klass.grade}} - Rm. {{klass.room}}</h1>
    <h2>Conference Schedule</h2>
    {% if isTeacher %}
        <h4><a href="{% url 'print-view' klass.pk %}">View Schedule</a></h4>
        <h4><a href="{% url 'print-pdf-view' klass.pk %}">Print PDF of Schedule</a></h4>
    {% endif%}
    
    {% for int_date, klass_day_schedule in klass_schedule %}
    	<h3>{{int_date|date:"l F jS"}}</h3>
    	
			<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Student</th>
				</tr>
			</thead>
			<tbody>
       
            {% for slot in klass_day_schedule %}
                <tr class="info">
                    <td>{{slot.start|time:'g:i'}}</td>
                    <td>{{slot.end|time:'g:i A'}}</td>
                    <td>
                        {% if slot.student %}
                            <a href="{% url 'edit-slot' klass.pk slot.pk slot.student.pk %}">
                            	{{slot.student.first_name}} {{slot.student.last_name|slice:":1"}}.
                            </a>
                        {% elif slot.not_available %}
                            {% if isTeacher %}
                                <a href="{% url 'clear-slot' klass.pk slot.pk %}">Not Available</a>
                            {% else %}
                                Not Available
                            {% endif %}
                        {% else %}
                            <a href="{% url 'book-slot' klass.pk slot.pk %}">
                            Available
                            </a>
                        {% endif %}
                    </td>
                    {% if isTeacher %}
                        <tr>
                            <td>{{slot.student.phone}}</td>
                            <td>{{slot.student.email}}</td>
                            <td class="col-md-4">{{slot.student.comment}}</td>
                        </tr>  
                    {% endif %}
                </tr>
         {% endfor %}
        </tbody>
    </table>

    {% endfor %} 

{% endblock %}
