{% extends "base.html" %}

{% block main_content %}
    <h1>QV Conference Schedule</h1>
    <h3>Online Scheduling of Parent-Teacher Conferences</h3>
    <p>This term, you have the option to schedule your Parent-Teacher Conferences online. 
    If you wish to schedule a meeting with any of your child's teachers, please follow 
    these instructions.</p>
    <strong>Booking a Conference:</strong>
    <ol>
        <li>Click on the name of a teacher/class with whom you wish to schedule an 
            appointment. All the teachers and classes are listed on the left side.</li><br>
        <li>Click on “Available” for a time at which you wish to have your meeting.</li><br>
        <li>Please enter the following information for the student:</li><br>
        <dl>
            <dt>Required:</dt>
            <dd>a. First and Last Name</dd>
            <dd>b. Choose the teacher and class they are enrolled in</dd>
            <dd>c. Phone number where you can be contacted</dd>
            <dt>Optional:</dd>
            <dd>d. Email Address</dd>
            <dd>e. Comment</dd>
            <dt>Please note: Only the student’s first name and the first initial from 
            their last name will be displayed. The phone number that you enter will also 
            serve as your password, in case you would like to make a change.</dt>
        </dl>
        <li>Click on “Book Conference”</li>
    </ol>
    <strong>Canceling a Conference:</strong>
    <p>Should you wish to delete an appointment you have made, click on your name for the 
    teacher and time you have booked the conference. Enter the first name, last name and 
    phone number, it must be the exact same as when you booked the conference. Click on 
    “Cancel Conference”. </p>
    
{% endblock %}
